<template>
    <div>
        <h1>Data Index</h1>

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Shop ID</th>
                    <th>Code</th>
                    <th>Success</th>
                    <th>Extra</th>
                    <th>Data</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in data" :key="item.id">
                    <td>{{ item.id }}</td>
                    <td>{{ item.shop_id }}</td>
                    <td>{{ item.code }}</td>
                    <td>{{ item.success }}</td>
                    <td>{{ item.extra }}</td>
                    <td>{{ item.data }}</td>
                    <td>{{ item.timestamp }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    props: {
        data: {
            type: Array,
            required: true,
        },
    },
};
</script>
